{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>Indian Cricketrs</title>
	<link rel="stylesheet"  href="{% static 'css/styles.css' %}">
</head>
<body>
     <div id='links'>
     	<a href="#home">Home</a>|
     	<a href="#Virat">Virat</a>|
     	<a href="#Dhoni">M.S.Dhoni</a>|
     	<a href="#Dhawan">Dhawan</a>|
     	<a href="#Yuvaraj">Yuvaraj</a>|
     </div>
     <div id="home">
     	<h2>Indian Legend Cricketers</h2>
     	<p>Cricket was introduced to the Indian subcontinent by British sailors in the 18th century, and the first cricket club was established in 1792. India's men's national cricket team played its first international match on 25 June 1932 in a Lord's Test against England becoming the sixth team to be granted Test cricket status. India had to wait until 1952, almost twenty years, for its first Test victory. In its first fifty years of international cricket, success was limited, with only 35 wins in 196 Tests.</p>
     	<table>
     		<tr>
     			<td><img src="{% static 'images/i1.jpg' %}" width='350px' height='250px' alt=''></td>
     			<td><img src="{% static 'images/i2.jpg' %}" width='350px' height='250px' alt=''></td>
     		</tr>
     	</table>
     	<p>Cricket was introduced to the Indian subcontinent by British sailors in the 18th century, and the first cricket club was established in 1792. India's men's national cricket team played its first international match on 25 June 1932 in a Lord's Test against England becoming the sixth team to be granted Test cricket status. India had to wait until 1952, almost twenty years, for its first Test victory. In its first fifty years of international cricket, success was limited, with only 35 wins in 196 Tests.</p>
     </div>
     <div id='Virat'>
     	<h2>Virat Kohli</h2>
     	<p>Cricket was introduced to the Indian subcontinent by British sailors in the 18th century, and the first cricket club was established in 1792. India's men's national cricket team played its first international match on 25 June 1932 in a Lord's Test against England becoming the sixth team to be granted Test cricket status. India had to wait until 1952, almost twenty years, for its first Test victory. In its first fifty years of international cricket, success was limited, with only 35 wins in 196 Tests.</p>
     	<table>
     		<tr>
     			<td><img src="{% static 'images/v1.jpg' %}" width="250px" height="150px" alt=""></td>
     			<td><img src="{% static 'images/v2.jpg' %}" width="250px" height="150px" alt=""></td>
     			<td><img src="{% static 'images/v3.jpg' %}" width="250px" height="150px" alt=""></td>
     			<td><img src="{% static 'images/v4.jpg' %}" width="250px" height="150px" alt=""></td>
     		</tr>
     	</table>
     </div>
     <div id='Dhoni'>
     	<h2>M.S.Dhoni</h2>
     	<p>Cricket was introduced to the Indian subcontinent by British sailors in the 18th century, and the first cricket club was established in 1792. India's men's national cricket team played its first international match on 25 June 1932 in a Lord's Test against England becoming the sixth team to be granted Test cricket status. India had to wait until 1952, almost twenty years, for its first Test victory. In its first fifty years of international cricket, success was limited, with only 35 wins in 196 Tests.</p>
     	<table>
     		<tr>
     			<td><img src="{% static 'images/d1.jpg' %}" width="250px" height="150px" alt=""></td>
     			<td><img src="{% static 'images/d2.jpg' %}" width="250px" height="150px" alt=""></td>
     			<td><img src="{% static 'images/d3.jpg' %}" width="250px" height="150px" alt=""></td>
     			<td><img src="{% static 'images/d4.jpg' %}" width="250px" height="150px" alt=""></td>
     		</tr>
     	</table>
     </div>
     <div id='Dhawan'>
     	<h2>Shikar Dhawan</h2>
     	<p>Cricket was introduced to the Indian subcontinent by British sailors in the 18th century, and the first cricket club was established in 1792. India's men's national cricket team played its first international match on 25 June 1932 in a Lord's Test against England becoming the sixth team to be granted Test cricket status. India had to wait until 1952, almost twenty years, for its first Test victory. In its first fifty years of international cricket, success was limited, with only 35 wins in 196 Tests.</p>
     	<table>
     		<tr>
     			<td><img src="{% static 'images/s1.jpg' %}" width="250px" height="150px" alt=""></td>
     			<td><img src="{% static 'images/s2.jpg' %}" width="250px" height="150px" alt=""></td>
     			<td><img src="{% static 'images/s3.jpg' %}" width="250px" height="150px" alt=""></td>
     			<td><img src="{% static 'images/s4.jpg' %}" width="250px" height="150px" alt=""></td>
     		</tr>
     	</table>
     </div><div id='Yuvaraj'>
     	<h2>Yuvaraj Singh</h2>
     	<p>Cricket was introduced to the Indian subcontinent by British sailors in the 18th century, and the first cricket club was established in 1792. India's men's national cricket team played its first international match on 25 June 1932 in a Lord's Test against England becoming the sixth team to be granted Test cricket status. India had to wait until 1952, almost twenty years, for its first Test victory. In its first fifty years of international cricket, success was limited, with only 35 wins in 196 Tests.</p>
     	<table>
     		<tr>
     			<td><img src="{% static 'images/y1.jpg' %}" width="250px" height="150px" alt=""></td>
     			<td><img src="{% static 'images/y2.jpg' %}" width="250px" height="150px" alt=""></td>
     			<td><img src="{% static 'images/y3.jpg' %}" width="250px" height="150px" alt=""></td>
     			<td><img src="{% static 'images/y4.jpg' %}" width="250px" height="150px" alt=""></td>
     		</tr>
     	</table>
     </div>
     <div id="Footer">
     	<h2>Copyrights:&copy;2023</h2>
     	<small>All Rights Are &reg;Reserved</small>
     	<p>Developed & Maintained By <a href="">BCCI</a></p>
     </div>

</body>
</html>